* {
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {

    --beige: #F0CEA0;
    --red: #D7263D;
    --darkblue: #011627;
    --blue: #2668D7;
    --white: rgb(249, 249, 249);
    --top: 50px;
    --headings-font-family: "Playfair Display", Times, serif;
    --text-font-family: "Nunito", Times, serif; 
}

  body {
    margin: 0;
    animation: fadein 2s;
    background-color: var(--white);
    position:relative;
    overflow-x:hidden;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@keyframes fadein {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}




/*FOOTER*/
footer {
    background: var(--red);
    width: 100vw;
    height: auto;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-around!important;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-wrap: nowrap!important;
}
.footer-title {
    color: var(--white);
    text-decoration: none;
    font-family: var(--text-font-family);
    font-weight: 100;
}
.footer-logo {
    display: block;
    width: 180px;
}
.footer-section {
    margin: 20px;
    height: auto;
}
.footer-sm {
    justify-content: space-between;
    width: 110px;
}
.footer-sm-img {
    width: 20px;
}

  /*HEADER*/
  .header-logo {
      width: 220px;
      height: 200px;
      display: block;
      margin: auto;
      margin-top: -50px;
  }
  .sm-container {
      position: absolute;
      top: 20px;
      left: 20px;

      width: 100px;
      height: auto;
      display: flex;
      justify-content: flex-start;
  }
  .sm-img {
      margin-right: 20px;
      display: block;
      width: 20px;
      height: auto;
  }

  /*NAVIGATION*/
  nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 8vh;
      background-color: var(--red);
      font-family: var(--headings-font-family);
      text-transform: none;
  }

  .nav-links {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
  }
  .nav-links a {
      color: var(--white);
      text-decoration: none;
      transition: 0.5s ease;
  }
  .nav-links a:hover {
    color: var(--blue);
  }
  .activated {
      color: var(--white)!important;
      font-style: italic;
      font-weight: bold;
      text-decoration: underline!important;
  }
  .burger {
      display: none;
  }
  .burger div{
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px;
    transition: all 0.3s ease;
  }
@media screen and (max-width:768px) {
    .contact-card {
        margin: 10px!important;
    }
    .slideshow-img {
        width: 90%!important;
    }
    .slide-btn-container {
        width: 90%!important;
    }
    .color-pallette-container {
        width: 90vw!important;
    }
    .project-img, .projcet-img-logo {
        width: 90%!important;
    }
    .header-logo {
        width: 170px!important;
        height: 180px!important;
        margin-top: -40px;
    }
    .lang-section {
        top: 15px!important;
        right: 10px!important;
    }
    body {
        overflow-x: hidden!important; 
    }
    footer {
        flex-direction: column;
        align-items: flex-start!important;
    }
    .footer-section {
        width: 90vw!important;
    }
    .footer-section, .footer-logo {
        margin-left: 20px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .nav-section {
        border-bottom: none!important;
    }
    nav {
        min-height: 0;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;     
        top: 0;   
        background-color: var(--red);
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 1;
    }
    .burger {
        display: block;
        cursor: pointer;
        top: 15px;
        left: 10px;
        position: absolute;
    }
    .sm-container {
        display: none;
    }
    .sm-img {
        width: 20px;
    }
    .footer-title {
        text-align: center;
    }
    .icons-container {
        height: auto;
        flex-direction: column;
    }
    .icons-box .icons-box {

    }
    .body-wide {
        width: 90vw!important;
        text-align: left!important;
    }
    .intro-container,    .intro-description {
        width: 100vw!important;
    }
    .intro-img {
        margin-bottom: 50px;
    }
    .title-one {
        font-size: 22pt!important;
    }
    .services-container .services-box {
        width: 95vw;
        padding-bottom: 20px;
    }
    .intro-description  {
        margin-top: 50px;
    } 
    .body-text {
        width: 90vw;
        margin: auto;
        color: var(--darkblue);
    }
    .quote-container {
        text-align: center;
    }
    .icons-box  {
        margin-bottom: 20px;
        height: auto;
    }
    .icons-box:nth-child(3) {
        margin-bottom: 10px;
    }
    .icons-box .body-text {
        width: 100%;
    }
    .job-box .body-text {
        width: 100%!important;
    }
   .contact-page .services-box {
        margin: 7px!important;
        height: auto!important;
        width: 175px!important;
    }
    .contact-page .services-box .title-two {
        font-size: 12pt;
    }
    .contact-page .services-box .services-img {
        width: 50px;
    }
}
.nav-active {
    transform: translateX(0%);
}

@keyframes navlinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


.nav-section {
    background-color: var(--red);
    width: 100vw;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid var(--white);
    overflow-y: hidden!important;
}
.lang-section {
    top: 20px;
    position: absolute;
    right: 20px;
}
.lang-btn {
    width: 10px;
    margin-left: 10px;
}
.collapsible {
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 12px;
    font-family: 'Lora';
  }
  .lang-list {
    padding: 0;
  }
  .lang-item {
      margin-bottom: 10px;
      font-size: 12pt!important;
      transition: 0.5s ease;
  }
  .lang-item:hover {
      color: var(--blue);
  }
  .lang-item a{
      color: var(--white);
      text-decoration: none;
      font-family: 'Lora';
      margin-bottom: 10px;
      text-align: left;
      font-size: 10pt!important;
      margin-left: 6px;
  }
  .content {
    display: none;
    overflow: hidden;
    color: var(--white);
  }

  /*TEXT*/
  .line{
      background-color: var(--red);
      width: 200px;
      height: 4px;
      display: block;
      margin: auto;
      margin-top: 50px;
  }
  .body-text {
      text-align: center;
      font-family: var(--text-font-family);
      color: var(--darkblue);
  }
  .title-one {
      text-align: center;
      font-family: var(--headings-font-family);
      color: var(--blue);
      letter-spacing: 1pt;
      font-size: 40pt;
  }
  .title-two {
    text-align: center;
    font-family: var(--headings-font-family); 
    color: var(--blue);
  }
  .title-three {
      font-family: var(--headings-font-family);
      color: var(--white);
      font-size: 3em;
      letter-spacing: 1pt;
  }
  .body-wide {
      width: 60vw;
      margin: auto;
      color: var(--darkblue);
      margin-bottom: 50px;
  }
  .title-five {
      color: var(--white);
      font-family: var(--headings-font-family);
      letter-spacing: 1pt;
      font-size: 1em;
  }
  .footer-text {
      color: var(--white);
      font-family: var(--text-font-family);
      font-weight: 100;
  }
  /*INDEX*/
  .intro-container {
      width: 90vw;
      height: auto;
      margin: auto;

      margin-top: 50px;
      margin-bottom: 50px;
      justify-content: space-around;
  }
  .intro-img {
      width: 450px;
      height: 550px;
      display: block;
  }
  .intro-description {
      width: 50%;
      flex-direction: column;
  }
  .intro-description .line {
      margin-top: 0;
  }
  .icons-container {
      width: 100vw;
      height: auto;
      background-image: url(assets/index-page/philosophy-image.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      justify-content: space-around!important;
      padding-top: 50px;
      padding-bottom: 40px;
      margin-top: 50px;
      margin-bottom: 50px;
      background-attachment: fixed;
  }
   .icons-box{
      flex-direction: column;
      width: 300px;
      height: 440px;
      padding: 20px 10px 20px 10px;
      background-color: var(--white);
      justify-content: flex-start;
      border-radius: 4px;
  }
  .icons-img {
      display: block;
      width: 70px;
      margin-top: 20px;
  }

  .quote-container {
      width: 100vw;
      height: auto;
      padding-bottom: 50px;
      padding-top: 50px;
      flex-direction: column;
      background-image: url(assets/index-page/quote-image.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      flex-wrap: wrap;
  }
  .job-container {
      width: 100vw;
      height: auto;
      flex-direction: column;
      margin-bottom: 50px;
      margin-top: 50px;
  }
  .job-section {
      flex-direction: row;
      margin-bottom: 50px;
      width: 100%;
  }
  .job-box {
      flex-direction: column;
  }
  .job-section:nth-child(2) {
      flex-direction: row-reverse;
  }
  .job-box .body-text {
      width: 90%;
  }
  .job-img {
      display: block;
      width: 270px;
      height: 235px;
  }

  /*ABOUT IMAGE*/
  .services-container {
      background-image: url(assets/about-page/about-image.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100vw;
      height: auto;
      padding-bottom: 30px;
      padding-top: 30px;
      margin-top: 50px;
      background-attachment: fixed;
  }
  .services-container .services-box {
      background-color: var(--white);
      width: 220px;
      height: 310px;
      margin: 20px;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 4px;
  }
  .services-box .title-two {
      font-size: 14pt;
  }
  .services-img {
      display: block;
      width: 70px;
      margin: auto;
      margin-top: 20px;
  }
  .service-description {
      width: 90%;
      margin: auto;
  }
 .btn {
     background-color: var(--red);
     color: var(--white);
     font-family: var(--headings-font-family);

     width: 200px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: auto;
     margin-top: 50px;
     border-radius: 4px;
     cursor: pointer;
     text-decoration: none;
     transition: 0.5s ease-in;
 }
 .btn:hover {
     background-color: var(--white);
     color: var(--red);
     text-decoration: underline;
 }

 /*CONTACT PAGE*/
.contact-container {
    width: 100vw;
    height: auto;
}
.contact-card {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    text-decoration: none;
}
.contact-img {
    width: 40px;
    margin: 35px;
}
.title-contact{
    font-size: 14pt;
    font-family: var(--headings-font-family);
    color: var(--blue);
    font-weight: bold;
}
.contact-card .title-two {
    font-size: 12pt;
    font-family: var(--text-font-family);
    color: var(--darkblue);
}

/*PROJECTS*/
.projects {
    background-image: none;
}
.project-img-gallery-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
}
.project-link {
    text-align: center;
    text-decoration: underline;
    font-family: var(--text-font-family);
    color: var(--darkblue);
    display: block;
    transition: 0.5s ease-in;
}
.project-link:hover {
    color: var(--blue);
}
.project-img {
    display: block;
    width: 700px;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
}
/*hover effect*/
.container {
    position: relative;
    margin: 30px;
    border-radius: 4px;
  }
  
  .image {
    display: block;
    width: 270px;
    height: 270px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 270px;
    width: 270px;
    opacity: 0;
    transition: .5s ease-in;
    background-color: var(--red);
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: var(--white);
    font-size: 2em;
    font-family: var(--headings-font-family);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
  }

  .project-keywords {
      list-style: none;
      padding-left: 0;
  }
  .project-keywords-item {
      color: var(--darkblue);
      font-size: 14pt;
      margin-bottom: 15px;
      text-align: center;
  }
  /*POLINVEST PAGE*/
  .font-family-container {
      width: 100vw;
      height: auto;
  }
  .font-family-box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      margin: 20px;
  }
  .font-title {
      font-size: 14pt;
      color: var(--darkblue);
      font-weight: bold;
  }
  .font-text{
    font-size: 12pt;
    color: var(--darkblue);
    margin-bottom: 5px;
    letter-spacing: 2pt;
  }
  .line-left {
      display: none;
  }
  .left {
      text-align: left;
      margin-left: 20px;
      font-size: 24pt;
  }
  .color-pallette-container {
      width: 35vw;
      height: auto;
      margin: auto;
      justify-content: space-around;
      margin-top: 50px;
      margin-bottom: 50px;
  }
  .color-project {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      color: white;
      text-align: center;
      line-height: 100px;
      font-family: var(--text-font-family);
      margin: 10px;
  }
  .color-one-polinvest {
      background-color: #112222;
  }
  .color-two-polinvest {
      background-color: #F0CEA0;
  }

  .color-one-park2 {
      background-color: #0F4C8E;
  }
  .color-two-park2 {
      background-color: #5079AE;
  }
  .color-three-park2 {
      background-color: #509FAE;
  }
  .color-four-park2 {
      background-color: #C5E1F2;
  }
  
  .projcet-img-logo {
      width: 500px;
      display: block;
      margin: auto;
  }
  .program-container {
    width: 35vw;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;

    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .program-img {
      display: block;
      width: 50px;
      height: 50px;
  }



  /*SLIDESHOW*/
  .slideshow-container {
    max-width: 100vw;
    margin: auto;
    height: auto;
    margin-bottom: 30px;
    position: relative;
  }
  .slideshow-img {
      width: 700px;
      margin: auto;
      display: block;
  }
  .slide-btn-container {
      width: 700px;
      display: flex;
      margin: auto;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
      margin: auto;
      position: relative;
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: var(--darkblue);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
 .next:hover {
      color: var(--blue);
  }
 .prev:hover {
      color: var(--blue);
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through 
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }*/
  
  /* Caption text 
  .text {
    color: #f2f2f2;
    font-size: 15px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    height: 100px;
    text-align: center;
    border: 2px solid red;
  } */
  
  /* The dots/bullets/indicators */

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--blue);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: var(--red);
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

/*PROJECTS FONTS*/
.font-lora {
    font-family: 'Lora';
}
.font-ptserif {
    font-family: 'PT Serif';
}